<style>
	p {
		font-size: 14px;
		margin: 0px;
		padding: 0px;
	}
</style>

<p style="font-size: 10px;">Scoala Generala Petre Badea<br/>Localitatea Negrasi, Judetul Arges</p>

<h1 style="text-align: center; font-size: 28px;">Diagrama Notelor</h1>

<p>Elev: {{ elev.nume }} {{ elev.prenume }}</p>
<p>{{ elev.clasa.nume }}</p>
<p>Disciplina: {{ materie.nume }}</p>
<p>Invatator: {{ elev.clasa.profesor }}</p>
<p>An scolar: {{ elev.clasa.an }}
<p>Semestrul {{ semestru }}</p>

<center><img src="grafic.jpg" /></center>